<h1> Listing projects </h1>

<table id="projects-table">
  <tr>
    <th> Name </th>
    <th> Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>
<br/>

<a href="#/new">New Project</a>